.albumGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.albumResult {
  margin: 10px;
  max-width: 25%;
  min-width: 300px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}