.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.albumInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backButton {
  align-self: flex-start;
  padding-left: 20px;
}

p {
  margin: 0px;
  padding: 0px;
}
